@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Meşhur Sürmene Bıçağı - Vira Sürmene Bıçakçılık - Sürmene Bıçakları  </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="bıçak,bicak,sürmene,vira sürmene,vira sürmene bıçakçılık,sürmene bıçağı,sürmene bıçak,vira sürmene bıçağı,şef bıçağı, çakı,Bıçak,Sürmene bıçağı,Vira sürmene bıçakçılık" />
	<meta name="description" content="Meşhur Sürmene Bıçağı, Atölyemizde yaptığımız el yapımı sürmene bıçakları ile uzun yıllardır bu sektöre hizmet vermekteyiz. Önceliğimiz müşterilerimizi gerçek sürmene bıçağı ile buluşturmaktır. Özveri ile birlikte kendi üretimimiz olan bıçaklarımızı hem mağazamızda hem de internet sayfamızda sizlere sunuyoruz. Vira Sürmene Bıçakçılık. Sürmene Bıçakları. Bıçak,sürmene,vira sürmene,vira sürmene bıçakçılık,sürmene bıçağı,sürmene bıçak,vira sürmene bıçağı,şef bıçağı,çakı,Bıçak,Sürmene bıçağı,Vira sürmene bıçakçılık" />
	<meta name="google-site-verification" content="W31UJlQSxnd0J_Z0__bCJXxaIOMiBqCaN5kwT939vVc" />
	<meta name="author" content="sürmene bıçağı" />
	<meta name="robots" content="all" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/cozastore-master/images/logovira2.jpeg" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/css/main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		.float {
			position: fixed;
			width: 60px;
			height: 60px;
			bottom: 60px;
			right: 40px;
			background-color: #25d366;
			color: #fff;
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
			box-shadow: 2px 2px 3px #999;
			z-index: 100;
		}


		.my-float {
			margin-top: 16px;
		}

		.map {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
	</style>
</head>
<body class="animsition">
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Ücretsiz Kargo & Ücretsiz İsim Yazdırma
					</div>
					<div class="right-top-bar flex-w h-full">
						<a href="/virasurmene" class="flex-c-m trans-04 p-lr-25">
							Sipariş & İade İşlemleri
						</a>

						<a href="/iletisim" class="flex-c-m trans-04 p-lr-25">
							İletişim
						</a>
					</div>
				</div>

			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img src="~/cozastore-master/images/logovira.jpeg" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Ana Sayfa</a>
							</li>

							<li>
								<a href="/surmenebicaklari">Ürünler</a>
							</li>

							<li>
								<a href="/hakkimizda">Hakkımızda</a>
							</li>

							<li>
								<a href="/iletisim">İletişim</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/">
					<img src="~/cozastore-master/images/123.jpeg" alt="Centered Photo" style="height: 37px; ">
				</a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Ücretsiz Kargo & Ücretsiz İsim Yazdırma
					</div>
					<div class="right-top-bar flex-w h-full">
						<a href="/virasurmene" class="flex-c-m p-lr-10 trans-04">
							Sipariş & İade İşlemleri

						</a>

						<a href="/iletisim" class="flex-c-m p-lr-10 trans-04">
							İletişim
						</a>
					</div>
				</li>				
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/">Ana Sayfa</a>
				</li>

				<li>
					<a href="/surmenebicaklari">Ürünler</a>
				</li>

				<li>
					<a href="/hakkimizda">Hakkımızda</a>
				</li>

				<li>
					<a href="/iletisim">İletişim</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		@await Html.PartialAsync("/Views/Layout/SearchButton.cshtml")

	</header>
	
	@await Component.InvokeAsync("_HomeHeader")

	@await Component.InvokeAsync("_HomeCategory")

	@await Component.InvokeAsync("_HomeReview")

	@await Component.InvokeAsync("_HomeProduct")





	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				@await Component.InvokeAsync("_CategoryList")

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Yardım
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/iletisim" class="stext-107 cl7 hov-cl1 trans-04">
								İletişim
							</a>
						</li>

						<li class="p-b-10">
							<a href="/virasurmene" class="stext-107 cl7 hov-cl1 trans-04">
								Bakım & Sipariş & İade Süreci
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						YENİLİKLERDEN HABERDAR OL
					</h4>

					@await Html.PartialAsync("/Views/Layout/Subscribe.cshtml")
				</div>
			</div>

			<div class="p-t-40">
				<p class="stext-107 cl6 txt-center">
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | <a href="https://colorlib.com" target="_blank" style="color:darkgray">Colorlib</a> &amp; <a href="https://themewagon.com" target="_blank" style="color:darkgray">ThemeWagon</a>

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	@await Component.InvokeAsync("_WhatsappDirection")

	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/bootstrap/js/popper.js"></script>
	<script src="~/cozastore-master/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/cozastore-master/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/slick/slick.min.js"></script>
	<script src="~/cozastore-master/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/cozastore-master/js/main.js"></script>

</body>
</html>