@using EntityLayer.Concrete;
@model NewsLetter
<form method="post" action="/Layout/Subscribe">
    <div class="wrap-input1 w-full p-b-4">
        <input class="input1 bg-none plh1 stext-107 cl7" type="email" asp-for="Email" required placeholder="E-Posta Adresiniz">
        <div class="focus-input1 trans-04"></div>
    </div>

    <div class="p-t-18">
        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
            ABONE OL
        </button>
    </div>
</form>