@using EntityLayer.Concrete;
@model About
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <div class="container">
        <h2>Sizden Gelenler Kısmı Düzenleme Sayfası</h2>
        <br />
        <input type="hidden" asp-for="AboutID" />
        <label>1. Ad Soyad</label>
        <input type="text" asp-for="AboutTitle" class="form-control" required />
        <br />
        <label>1. Yorum</label>
        <textarea type="text" rows="8" asp-for="AboutDescription" class="form-control" required></textarea>
        <br />
        <label>2. Ad Soyad</label>
        <input type="text" asp-for="AboutTitle2" class="form-control" required />
        <br />
        <label>2. Yorum</label>
        <textarea type="text" rows="8" asp-for="AboutDescription2" class="form-control" required></textarea>
        <br />
        <button class="btn btn-outline-primary">Değişiklikleri Kaydet</button>
    </div>
</form>