@using EntityLayer.Concrete;
@model Contact
<a href="https://wa.me/@Model.Phone?text=Merhaba%20siparis%20vermek%20istiyorum.%20" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>