@using EntityLayer.Concrete;
@model About
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
            <div class="card border-0 rounded-lg shadow-lg p-4">
                <div class="card-body">
                    <hr>
                    <div class="text-center">
                    </div>
                    <h6 class="card-subtitle mt-4 text-center">@Model.AboutTitle</h6>
                    <p class="card-text text-center">@Model.AboutDescription</p>
                    <hr>
                    <div class="text-center">
                        <div class="rating">
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
            <div class="card border-0 rounded-lg shadow-lg p-4">
                <div class="card-body">
                    <hr>
                    <div class="text-center">
                    </div>
                    <h6 class="card-subtitle mt-4 text-center">@Model.AboutTitle2</h6>
                    <p class="card-text text-center">@Model.AboutDescription2</p>
                    <hr>
                    <div class="text-center">
                        <div class="rating">
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                            <span class="text-warning">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
